<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RoboBarbearia.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <RoboBarbearia.Properties.Settings>
            <setting name="Download" serializeAs="String">
                <value>C:\Users\eduardo.nunes\Downloads\</value>
            </setting>
            <setting name="Login" serializeAs="String">
                <value>rodrigo.goncalves@avecfranquias.vc</value>
            </setting>
            <setting name="Senha" serializeAs="String">
                <value>123</value>
            </setting>
            <setting name="Relatorios" serializeAs="String">
                <value>https://admin.salaovip.com.br/admin/relatorios/</value>
            </setting>
            <setting name="CaminhoUsuarios" serializeAs="String">
                <value>C:\Users\eduardo.nunes\Desktop\BI Avec\AVEC - Usuarios\</value>
            </setting>
            <setting name="CaminhoDestinoRelatorios" serializeAs="String">
                <value>C:\Users\eduardo.nunes\Desktop\BI Avec\Avec\</value>
            </setting>
        </RoboBarbearia.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>